body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    background-color: rgba(127, 255, 255, 0.2);
    grid-auto-flow: row;
}
body>div{border-radius: 15px;
         box-shadow: 0 0 10px 10px rgba(127, 255, 255, 0.8);
         display: flex;
         justify-content: center;
         align-items: center;
        }

.item1{background-color: yellow; 
        grid-column: auto / span 2;
        grid-column-start: 1;
        grid-row-start: 1;}
        
.item2{background-color: blue; 
        grid-column-start: 3;
        grid-row-start: 1;}
.item3{background-color: red;
       grid-column-start: 1;
       grid-row-start: 2;}
.item4{background-color: green;
        grid-column-start: 3;
        grid-row-start: 2;
        grid-column: auto/ span 2;}
.item5{background-color: violet;
        grid-row-start: 1;
        grid-row-end: 3;    
    }
footer{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;    
}